</div>
<footer>

<section id="contact">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 white-links">
        <p class="footer-title">About Us</p>
        <ul>
            <li>
                <a href="/pages/about-us">About Our Store</a>
            </li>
            <li>
                <a href="/pages/shipping-policy">Shipping Policy</a>
            </li>
            <li>
                <a href="/pages/careers">Careers</a>
            </li>
        </ul>  
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 white-links">
       © Company 2021 <br/>**This is just not a real ecommerce website.**
    </div>
  </div>
</section>

</footer>
</div>
    <script src="/javascripts/main.js"></script>
</body>
</html>
